<div class="container">
  <div class="row text-center">
<p id="notice"><%= notice %></p>
    <div class="row">
<h1>Track for <%= @track.player.name %></h1>
    </div>
    <%if @track.raided %>
    <h2 style="color:forestgreen">Raided</h2>
      <%end %>
    <br>
    <p class = text-center> Center: (<%= @track.xN%>, <%= @track.zN %>)</p>
    <p class = text-center> Portal: (<%= @track.xPN%>, <%= @track.zPN %>)</p>

    <br>
    <p class = text-center> X Range: [<%= @track.xMinN%>-<%= @track.xMaxN %>]</p>
    <p class = text-center> Z Range: [<%= @track.zMinN%>-<%= @track.zMaxN %>]</p>
    <br>
    <div style="padding-left:30px; max-width:230px; margin: 0 auto;">
    <p class="text-left"><%= @track.notes %></p>
    </div>
    <div class="row">
      <div>
        <br><br>
<%= link_to 'Update', edit_track_path(@track) %>&nbsp;
        <% if !@track.raided %>
        <%= link_to 'Raided', mark_raided_tracks_path(:id=>@track.id) %>
          <%end %>
        <br>
        <%= link_to 'Back', @track.player %>&nbsp;
        <br><br>
        <p style="color:#505252">Updated: <%= @track.updated_at.in_time_zone("Central Time (US & Canada)").strftime("%m/%d") %></p>
      </div>
    </div>
  </div></div>