<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="field text-center" style="padding-right:50px">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-offset-5" style="padding-left:50px"><button type="submit" class="btn btn-primary">Add</button></div>
  </div>
<% end %>
